afdko==4.0.2
cffsubr==0.3.0
defcon==0.12.2
dehinter>=4.0.0
fonttools[woff,pathops,unicode]==4.60.0
setuptools==80.9.0
ttfautohint-py==0.6.0
ufo-extractor==0.8.1
ufo2ft==3.6.4
ufolib2==0.18.1
